body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    color: #efefef;
    max-width: 80%;
    padding: 0 10%;
    background: black;
    height: 100vh;
}

h2{
    margin: 5px;
}

h3{
    font-weight: 100;
    font-size: 18px;
}

.header{
    justify-content: center;
    align-items: center;
    background: #2a2a2a;
    display: flex;
}

.header img{
    width: 45px;
    height: 45px;
    padding: 0 45px;
}

.main{
    display: flex;
    flex-direction: row;
}

#map{
    background: #383838;
    display: grid;
    grid-template-columns: repeat(19, 45px);
    width: 85%;
    justify-content: center;
    overflow: hidden;
}

.tile{
    width: 45px;
    height: 45px;
}

.tile-wall{
    background: url(images/wall.png);
    background-size: cover;
}

.entity-player{
    background: url(images/player.png);
    background-size: cover;
}

.entity-block{
    background: url(images/box.png);
    background-size: cover;
}

.tile-goal{
    background: url(images/goal.png);
    background-size: cover;
}

.entity-block-goal{
    background: url(images/boxgoal.png);
    background-size: cover;
}

.sidebar{
    display: flex;
    flex-direction: column;
    padding: 0 5% 0 2%;
    background: #383838;
    width: 15%;
    text-align: center;
}

.restart{
    margin-top: 20px;
    height: 50px;
}

.instructions{
    margin-top: 20px;
}

.footer{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 3% 0;
    background: #2a2a2a;
}

@media screen and (max-width: 1200px) {
    .tile{
        width: 36px;
        height: 36px;
    }

    #map{
        grid-template-columns: repeat(19, 36px);
    }
    
    h1{
        font-size: 26px;
    }

    h2{
        font-size: 20px;
    }

    h3{
        font-size: 15px;
    }

    .instructions{
        margin-top: 20px;
    }

}